@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DBDBDB;
}

h1 {
    color: #5bb8bb;
    font-weight: bold;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 80%;
    height: 85%;
    background-color: #FFFFFF;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
}

.logo {
    width: 150px;
    height: 145px;
}


header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-icon {
    font-size: 3rem;
    color: gray;
}

section {
    display: flex;
    gap: 4rem;
    height: 75vh;
}

.package-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    border-radius: 2rem;

    width: 45%;
    height: 100%;

    position: relative;
    color: white; 
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
}

.package-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 100, 100, 0.274);
    border-radius: 2rem;
    z-index: 1;
}

.package-card > * {
    position: relative;
    z-index: 2;
}


.package-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.05rem;

    width: 70%;

    font-weight: bold;
}

.package-text button {
    border: 3px solid #7ddadd;
    color: #7ddadd;
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.package-text button a {
    display: block;
    padding: 1rem;
    color: #7ddadd;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}

button:hover {
    background-color: #b3e3e4;
    cursor: pointer;
    color: #FFFFFF;
}
