@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DBDBDB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    width: 80%;
    height: 85%;
    background-color: #FFFFFF;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
}

.ph-arrow-left {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    margin-left: 2rem;
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 150px;
    height: 145px;
}

header {
    display: flex;
    justify-content: space-between;
}

.graph {
    margin: 1rem 0 1rem;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 75%;
}

.user-icon {
    font-size: 3rem;
    color: gray;
}

h1 {
    color: #5bb8bb;
    font-weight: bold;
    font-size: 3rem;
}

.teste-insano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#salesChart {
    width: 200;
    height: 75px;
}