# Configurações do Servidor
PORT=8080
ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=destinara_db

# JWT Secret
JWT_SECRET=your-secret-key-here

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000 