<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Dados</title>
</head>
<body>
    <h1>Editar Dados do Usuário</h1>
    <form th:action="@{/update-user}" method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" th:value="${user.name}" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${user.email}" required><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" th:value="${user.cpf}" required><br>

        <label for="birthDate">Data de Nascimento:</label>
        <input type="date" id="birthDate" name="birthDate" th:value="${user.birthDate}" required><br>

        <label for="sex">Sexo:</label>
        <select id="sex" name="sex" th:value="${user.sex}">
            <option value="M" th:selected="${user.sex == 'M'}">Masculino</option>
            <option value="F" th:selected="${user.sex == 'F'}">Feminino</option>
        </select><br>

        <button type="submit">Salvar Alterações</button>
    </form>
    <a th:href="@{/purchase-history}">Voltar</a>
</body>
</html>
