<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Pacote</title>
    <link rel="stylesheet" th:href="@{/css/pages/packages.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    <div class="container">
        <header>
            <div>
                <img th:src="@{/img/blue-logo.png}" class="logo">
                <h1>PACOTE DE VIAGENS</h1>
            </div>
            <a href="/purchase-history">
                <i class="ph-bold ph-user user-icon"></i>
            </a>
        </header>
        <nav>
            <div>
                <button>
                    <a th:href="@{/filter(type='Nacional')}">NACIONAL</a>
                </button>
                <button>
                    <a th:href="@{/filter(type='Internacional')}">INTERNACIONAL</a>
                </button>
            </div>
        </nav>
        <section>
            <div th:each="package : ${travelPackages}" class="package-card" 
                 th:style="'background-image: url(\'/img/travel-packages/' + ${package.name} + '.png\');'">
                <p th:text="${package.name}"></p>
                <a th:href="@{/package-details(id=${package.id})}">Ver mais</a>
            </div>
        </section>
    </div>
</body>
</html>