<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Histórico de Compras</title>
    <link rel="stylesheet" th:href="@{/css/pages/package-details.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    <div class="container">
        <header>
            <div>
                <a th:href="@{/filter(type=${travelPackage.type})}">
                    <i class="ph ph-arrow-left user-icon"></i>
                </a>
                <h1 th:text="${travelPackage.name}"></h1>
                <a href="/purchase-history">
                    <i class="ph-bold ph-user user-icon"></i>
                </a>
            </div>
        </header>
        <section th:if="${travelPackage != null}">
            <div class="package-card" th:style="'background-image: url(\'/img/travel-packages/' + ${travelPackage.name} + '.png\');'"></div>
            <div class="package-text">
                <p th:text="${travelPackage.paragraph1}"></p>
                <p th:text="${travelPackage.paragraph2}"></p>
                <button>
                    <a th:href="@{/buy-package(packageId=${travelPackage.id})}">Comprar</a>
                </button>
            </div>
        </section>        
        <footer>
        </footer>
    </div>
</body>
</html>
