<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/pages/purchase-history.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
<head>
    <meta charset="UTF-8">
    <title>Histórico de Compras</title>
</head>
<body>
    <div class="container">
        <div class="teste">
            <a href="/filter?type=Internacional">
                <i class="ph ph-arrow-left user-icon"></i>
            </a>
            <a href="/logout">
                <i class="ph-bold ph-sign-out user-icon"></i>
            </a>
        </div>
        <header>
            <h1>Seu perfil</h1>
        </header>
        <section class="user-info">
            <div class="user-info-container">
                <div class="input-wrapper">
                    <i class="ph-bold ph-user"></i>
                    <input type="text" th:placeholder="${user.name}" disabled>
                </div>

                <div class="input-wrapper">
                    <i class="ph-bold ph-file-text"></i>
                    <input type="text" th:placeholder="${user.cpf}" disabled>
                </div>

                <div class="input-wrapper-flex">
                    <div class="input-wrapper">
                        <i class="ph-bold ph-calendar"></i>
                        <input type="text" th:placeholder="${user.birthDate}" disabled>
                    </div>
                    <div class="input-wrapper">
                        <i class="ph-bold ph-gender-intersex"></i>
                        <input type="text" th:placeholder="${user.sex}" disabled>
                    </div>
                </div>

                <div class="input-wrapper">
                    <i class="ph-bold ph-envelope-simple"></i>
                    <input type="text" th:placeholder="${user.email}" disabled>
                </div>
            </div>
        </section>
        <div class="horizontal-line"></div>
        <section class="history-section">
            <h2>Histórico</h2>
            <div class="cards">
                <div th:each="purchase : ${purchases}" 
                     th:style="'background-image: url(\'/img/travel-packages/' + ${purchase.travelPackage.name} + '.png\');'" 
                     class="package-card">
                    <p th:text="${purchase.travelPackage.name}"></p>
                </div>
                <div class="empty-history" th:if="${purchases == null or purchases.isEmpty()}">
                    <h2>Você ainda não fez nenhuma compra.</h2>
                </div>
            </div>            
        </section>
    </div>
</body>
</html>
